<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nopCommerce regression Suite">
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="F:/4-intellij/labs/NopCommerce">
        <classes><class name="Tests.ARegisterTest">
            <methods><include name="successfulRegister"/></methods>
        </class></classes></test></suite>